body {
   
    background:url(book.jpg);
    width:1300px;
    height:750px;
    background-size:cover;
    background-position:center;
    font-family:sans-serif;
}
.registration-box {
    width:342px;
    height:453px;
    background:rgba(0,0,0,0.5);
       color:#fff;
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
}
.avatar {
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    top:-75px;
    left:calc(50% - 50px);
}
.h1 {
    margin:0;
    padding:0 0 20px;
    text-align:center;
    font-size:22px;
    }
.registration-box p{
    margin:0;
    padding:0;
    font-weight:bold;
    
}
.registration-box input{
    margin-bottom:0px;
}
.registration-box input[type="text"], input[type="password"]
{
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    color:#FFFFFF;
    font-size:16px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    margin-left: 1px;
}
.registration-box input[type="button"]{
        border:none;
    outline:none;
    height:40px;
    background:#1c8abd;
    color:#fff;
    font-size:18px;
    border-radius:20px;
    
    }
.registration-box input[type="button"]:hover{
     border:none;
    outline:none;
    height:40px;
    background:#39dc79;
    color:#fff;
    font-size:18px;
    border-radius:20px;
}

.registration-box input[type="submit"]
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    background: #1c8abd;
    color:#fff;
    font-size:18px;
    border-radius:20px;
    margin-left: 20px;
}
.registration-box input[type="submit"]:hover
{
        cursor:pointer;
        background:#39dc79;
        color:#000;
 }


.registration-box a{
    text-decoration:none;
    font-size:14px;
    color:#fff;
}
.registration-box a:hover
{
    color: #39dc79;
}
.registration-box input[type="email"]{
       border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    
    color:#fff;
    font-size:16px;
    }
.registration-box input[type="number"]{
 
       border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
   
    color:#fff;
    font-size:16px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    margin-top: 0px;
}


