<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

   <connectionStrings>
    <add name="MyDbConn" connectionString="Server=NISHANT\SQLEXPRESS; database=gls; Trusted_Connection=True" providerName="System.data.sqlclient" />
    <add name="glsConnectionString" connectionString="Data Source=NISHANT\SQLEXPRESS;Initial Catalog=gls;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  

</configuration>
  
